<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Demo</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="description" content="Demo project">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="main.css">
	</head>
	<body ng-controller="myCtrl">
		<div class="container">
			<div class="jumbotron">
				<h1>FotoFly Wedding App Admin Page</h1>
				<h4>Create a new event or view the photos from a past event.</h4>
			</div>

			<section>
				<h2>Create New Event</h2>
				<div class="input-group">
					<label for="eventName">Event Name</label>
					<input class="form-control" type="text" name="eventName" ng-model="newArticle.id">
				</div>
				<div class="input-group">
					<label for="eventCode">Event Code (must be unique)</label>
					<input class="form-control" type="text" name="eventCode" ng-model="newArticle.id">
				</div>
				<div class="input-group">
					<label for="date">Date</label>
					<input class="form-control" type="date" name="date" ng-model="newArticle.id">
				</div>
				<div class="input-group">
					<label for="fbAdmin">Facebook Account for Admin</label>
					<input class="form-control" type="text" name="fbAdmin" ng-model="newArticle.title">
				</div>
				<div class="input-group">
					<label for="instaAdmin">Instagram Account for Admin</label>
					<input class="form-control" type="text" name="instaAdmin" ng-model="newArticle.title">
				</div>
				<button class="btn btn-success" ng-click="create()">Create</button>
			</section>

			<section>
				<h2>View Event</h2>
					<div class="input-group">
						<label for="id">Enter Event Code</label>
						<input class="form-control" type="number" name="id" ng-model="updatedArticle.id">
					</div>
				<button class="btn btn-success" ng-click="update()">View</button>
			</section>
		</div
	</body>
	<script type="text/javascript" src="app.js"></script>
</html>
