<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>FotoFly Weddings</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="description" content="FotoFly Weddings">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta Parse.initialize('pv2dMyXIqGOj7YefpKKmCBSVQCbZo4cjQp9FQCC1', 'PrqgGnvbM0q09YsOTnQTUkS7JlzjXJg1OG4oUxjT');>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="main.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed">
	</head>
	<body ng-controller="myCtrl">
		<!-- <center> -->
		<div class="container">
			<div class="jumbotron">
				<center><img src="silver_logo.png" alt="FoloFly Logo" style="width:400px;height:200px;" align="middle" ></center>
				<h1>Wedding App</h1>
				<h4> Admin page to create a new event or view photos from a past event.</h4>
			</div>

				<h2>Create New Event</h2>
				<div class="input-group">
					<label for="name">Event Name</label>
					<input class="form-control" type="text" name="name" ng-model="name.id" placeholder=" Enter Event Name" size="40">
				</div>
				<div class="input-group">
					<label for="key">Event Code</label>
					<input class="form-control" type="text" name="key" ng-model="key.id" placeholder="Event Code must be unique" size="40">
				</div>
				<div class="input-group">
					<label for="eventDate">Date</label>
					<input class="form-control" type="date" name="eventDate" ng-model="eventDate.id" size="40">
				</div>
				<div class="input-group">
					<label for="fbAdmin">Facebook Account for Admin</label>
					<input class="form-control" type="text" name="fbAdmin" ng-model="fbAdmin.id" placeholder="Enter Facebook URL" size="23">
				</div>
				<div class="input-group">
					<label for="instaAdmin">Instagram Account for Admin</label>
					<input class="form-control" type="text" name="instaAdmin" ng-model="instaAdmin.id" placeholder="Enter Instagram User Name" size="23">
				</div>
				<br>
				<button class="btn btn-success" ng-click="newEvent()">Create</button>
					<br>
				<h2>View Event</h2>
					<div class="input-group">
						<label for="id">Event Code</label>
						<input class="form-control" type="text" name="id" ng-model="id.id" placeholder="Enter Event Code" size="35">
					</div>
					<br>
				<button class="btn btn-success" ng-click="update()">View</button>

		</div
		<!-- </center> -->
	</body>
	<script type="text/javascript" src="app.js"></script>
</html>
