<md-whiteframe class="md-whiteframe-z3 mainContent login" layout="column" layout-align="center center">
	<div>
		<h1>Wedding App</h1>
		<h2>Login to Fotofly Events</h2>
		<div class="input-group">
			<label for="name">User Login</label>
			<input class="form-control" type="text" name="username" ng-model="user.username" placeholder="Username" size="40">
		</div>
		<div class="input-group">
			<label for="key">Password</label>
			<input class="form-control" type="password" name="key" ng-model="username.password" placeholder="Password" size="40">
		</div>
		
		<br>
		<button class="btn btn-success" ng-click="login()">Login</button>
	</div>
</md-whiteframe>